[Unit]
Description=Daily pruning of unused podman pods, containers, images and networks

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
